:root {
  --root-font-size: 12px;
  --font-primary: monospace;
  --color-bg: #111;
  --color-text: #ccc;
  --color-input-bg: #222;
  --color-input-border: #444;
  --color-input-placeholder: #888;
  --color-button-bg: #222;
  --color-button-border: #444;
  --color-button-hover: #333;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-size: var(--root-font-size);
}

body {
  font-family: var(--font-primary);
  color: var(--color-text);
  background-color: var(--color-bg);
}

button {
  cursor: pointer;
  font-family: var(--font-primary);
  font-size: 1rem;
  background-color: var(--color-button-bg);
  color: var(--color-text);
  border: 1px solid var(--color-button-border);
}

button:hover {
  background-color: var(--color-button-hover);
}

input {
  font-family: var(--font-primary);
  font-size: 1rem;
  background-color: var(--color-input-bg);
  color: var(--color-text);
  border: 1px solid var(--color-input-border);
}

input::placeholder {
  color: var(--color-input-placeholder);
  opacity: 1;
}

input:focus {
  outline: none;
  border-color: var(--color-button-hover);
}

pre {
  font-size: 1rem;
}
