.item {
  padding: 0.25rem 0.5rem;
}

.item:hover {
  background-color: var(--color-bg-lighter);
}

.highlighted {
  outline: 1px solid var(--color-mfer-orange);
  outline-offset: 1px;
}

.highlightedTraveling {
  outline: 1px dashed var(--color-mfer-orange);
  outline-offset: 3px;
  animation: dash 1s linear infinite;
}

@keyframes dash {
  to {
    outline-offset: 0px;
  }
}
